<section class="about">
  <div class="about__wrapper">
    <div
      class="about__top"
      style="background-image: url('images/content/about-bg.jpg')"
    >
      <div class="container">
        <div class="about__offer">
          <h2 class="about__title section-title">
            <img src="images/logo-big.png" alt="Логотип" />
          </h2>
          <div class="about__text">
            <p>избавит вас от всех хлопот и волнений, связанных с арендой.</p>

            <p>
              Вы занимаетесь своими делами, почти не отвлекаетесь на нас и
              получаете оплату точно в срок.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="about__info">
        <div class="about__text">
          <p>
            Специализация компании - управление жилой недвижимостью, которую мы
            сдаем в долгосрочную аренду
          </p>

          <p>
            Стандартный набор услуг по управлению квартирой включает в себя:
            получение арендной платы и перечисление ее собственнику; оплата всех
            коммунальных услуг; ежемесячное составление финансовой отчетности;
            мониторинг состояния квартиры, оперативное реагирование при
            необходимости.
          </p>
        </div>
        <div class="about__text">
          <p>
            Клиентам, которые инвестируют в жилую недвижимость, мы оказываем
            полное сопровождение: подбираем варианты инвестирования на первичном
            и вторичном рынке Санкт-Петербурга. Мы полностью сопровождаем
            сделку, рассчитываем арендную ставку и доходность, организуем
            экономичный, но качественный ремонт и (или) меблировку квартиры и
            сдаем в аренду.
          </p>

          <p>
            Приходите к нам в офис, познакомьтесь с нами лично, чтобы обсудить
            вопросы по инвестированию и управлению недвижимостью.
          </p>
        </div>
      </div>

      <div class="about__notify">
        <h3 class="about__heading section-title">А если ещё короче:</h3>

        <div class="about__text">
          <p>
            вы просто отдаёте нам ключи и получаете деньги за квартиру на карту
            ежемесячно. Мы занимаемся всем остальным.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
