<section class="algorithm">
  <div class="container">
    <div class="algorithm__top">
      <h2 class="algorithm__title section-title">Алгоритм работы</h2>
      <div class="algorithm__text">
        <p>Сделаем за Вас всё!</p>
      </div>
    </div>

    <ol class="algorithm__list">
      <li class="algorithm__item algorithm__item--management-model">
        <h3 class="algorithm__heading">Модель управления</h3>
        <div class="algorithm__descr">
          <p>Создание модели управления</p>
        </div>
      </li>
      <li class="algorithm__item algorithm__item--promotion">
        <h3 class="algorithm__heading">Продвижение</h3>
        <div class="algorithm__descr">
          <p>Размещение в интернете на площадках</p>
        </div>
      </li>
      <li class="algorithm__item algorithm__item--tariffs">
        <h3 class="algorithm__heading">Тарифы</h3>
        <div class="algorithm__descr">
          <p>Создание и управление тарифами</p>
        </div>
      </li>
      <li class="algorithm__item algorithm__item--management">
        <h3 class="algorithm__heading">Управление</h3>
        <div class="algorithm__descr">
          <p>Операционное управление</p>
        </div>
      </li>
      <li class="algorithm__item algorithm__item--loyalty">
        <h3 class="algorithm__heading">Программа лояльности</h3>
        <div class="algorithm__descr">
          <p>Создание и поддерживание программы лояльности</p>
        </div>
      </li>
      <li class="algorithm__item algorithm__item--reporting">
        <h3 class="algorithm__heading">Отчетность</h3>
        <div class="algorithm__descr">
          <p>Ежемесячная отчетность</p>
        </div>
      </li>
    </ol>
  </div>
</section>
