<section class="docs">
  <div class="container">
    <h2 class="docs__title section-title">Документы</h2>

    <ul class="docs__list">
      <li class="docs__item">
        <a class="docs-card" href="#">
          <span class="docs-card__title">Название документа</span>
          <span class="docs-card__link">
            скачать <small class="docs-card__size">1,55 mb</small>
          </span>
        </a>
      </li>
      <li class="docs__item">
        <a class="docs-card" href="#">
          <span class="docs-card__title">Название документа</span>
          <span class="docs-card__link">
            скачать <small class="docs-card__size">1,55 mb</small>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
