<header class="header">
  <div class="overlay"></div>
  <div class="mobile-menu">
    <a class="mobile-menu__logo logo" href="#">
      <img src="images/logo.png" alt="Логотип" />
    </a>

    <button class="mobile-menu__close" type="button" aria-label="Закрыть меню">
      <svg width="19" height="19">
        <use xlink:href="images/sprite.svg#close"></use>
      </svg>
    </button>

    <ul class="mobile-menu__body">
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Наши объекты</a>
      </li>
      <li class="mobile-menu__item">
        <div class="mobile-menu-box accordion">
          <button
            class="mobile-menu-box__name accordion__control"
            type="button"
          >
            Услуги
          </button>

          <div class="mobile-menu-box__content accordion__content">
            <ul class="mobile-menu-box__list">
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#"
                  >Курсы посуточной аренды</a
                >
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#"
                  >Управление посуточной арендой</a
                >
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Подбор помещения для посуточной аренды
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#"
                  >Плохие отзывы от гостей</a
                >
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Как сдавать апартаменты или квартиру посуточно официально
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Через какие сервисы сдавать квартиру посуточно
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Как выбрать постельное белье для посуточной сдачи?
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Сдача квартиры через агентство
                </a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">Сейфы для ключей</a>
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#"
                  >Как принимать квартиру после проживания?</a
                >
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Кражи в посуточных квартирах</a
                >
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#">
                  Как сдавать квартиру посуточно самому?</a
                >
              </li>
              <li class="mobile-menu-box__item">
                <a class="mobile-menu-box__link" href="#"> в управление</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Статьи</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Вопрос</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">О нас</a>
      </li>
      <li class="mobile-menu__item">
        <a class="mobile-menu__link" href="#">Контакты</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="header__wrapper wrapper-nav">
      <a class="wrapper-nav__logo logo" href="index.html">
        <img src="images/logo.png" alt="Логотип" />
      </a>

      <nav class="wrapper-nav__menu menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Наши объекты</a>
          </li>

          <li class="menu__item">
            <a class="menu__link menu__link--dropdown" href="#">Услуги</a>

            <div class="dropmenu">
              <ul class="dropmenu__list">
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Курсы посуточной аренды</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Управление посуточной арендой</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Подбор помещения для посуточной аренды</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Плохие отзывы от гостей</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Как сдавать апартаменты или квартиру посуточно
                    официально</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Через какие сервисы сдавать квартиру посуточно</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Как выбрать постельное белье для посуточной сдачи?</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Сдача квартиры через агентство</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">Сейфы для ключей</a>
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Как принимать квартиру после проживания?</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Кражи в посуточных квартирах</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#"
                    >Как сдавать квартиру посуточно самому?</a
                  >
                </li>
                <li class="dropmenu__item">
                  <a class="dropmenu__link" href="#">в управление</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Статьи</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Вопрос</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">О нас</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>

      <div class="wrapper-nav__tools">
        <a class="wrapper-nav__phone" href="tel:+79650002690">
          <span class="wrapper-nav__phone-icon"></span>
          <span class="wrapper-nav__phone-text">8 (965) 000 26 90</span>
        </a>
        <button class="wrapper-nav__btn btn btn--light btn-call" type="button">
          Заказать звонок
        </button>
      </div>

      <button class="header__toggle" type="button" aria-label="Открыть меню">
        <span class="header__toggle-line"></span>
      </button>
    </div>
  </div>
</header>
