<section
  class="hero hero--apartments"
  style="background-image: url('images/content/hero-apartment-bg.jpg')"
>
  <div class="container">
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h2 class="hero__title section-title">
          Управление посуточной арендой квартир / апартаментов
          <span>в Санкт-Петербурге</span>
        </h2>
        <div class="hero__text">
          <p>Полное управление, увеличение дохода в среднем на 10%</p>
        </div>

        <div class="hero__btns">
          <button class="hero__btn btn" type="button">
            Рассчитать доходность
          </button>
          <button class="hero__btn btn btn--transparent" type="button">
            Рассчитать доходность
          </button>
        </div>
      </div>

      <a class="hero__arrow-down" href="#advantages"> </a>
    </div>
  </div>
</section>
