<section class="objects-map">
  <div class="container">
    <div class="objects-map__top">
      <h2 class="objects-map__title section-title">
        Наши <span>объекты</span> на карте
      </h2>

      <div class="objects-map__top-inner">
        <ul class="objects-map__btns">
          <li class="objects-map__item">
            <button class="objects-map__btn" data-filter="all" type="button">
              Все объекты
            </button>
          </li>
          <li class="objects-map__item">
            <button class="objects-map__btn" data-filter=".one" type="button">
              1к. квартиры
            </button>
          </li>
          <li class="objects-map__item">
            <button class="objects-map__btn" data-filter=".two" type="button">
              2к. квартиры
            </button>
          </li>
          <li class="objects-map__item">
            <button class="objects-map__btn" data-filter=".three" type="button">
              3к. квартиры
            </button>
          </li>
          <li class="objects-map__item">
            <button
              class="objects-map__btn"
              data-filter=".studios"
              type="button"
            >
              Студии
            </button>
          </li>
          <li class="objects-map__item">
            <button class="objects-map__btn" data-filter=".mini" type="button">
              Мини - отели
            </button>
          </li>
        </ul>

        <a
          class="objects-map__btn objects-map__btn--link btn btn--transparent"
          href="#"
          >Перейти в каталог</a
        >
      </div>
    </div>
  </div>
  <div class="objects-map__content">
    <div
      class="objects-map__map"
      style="background-image: url('images/content/map-bg.jpg')"
    >
      <div class="container">
        <ul class="objects-map__list">
          <li class="objects-map__item mix one">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <div class="object-card__top">
                  <h3 class="object-card__title">
                    <a href="#">Петергофское шоссе 59, квартира 3 </a>
                  </h3>
                  <p class="object-card__type">1 - комнатные апартаменты</p>
                </div>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>

                <div class="object-card__text">
                  1-комнатные апартаменты класса люкс, площадью 38 кв. м сдаются
                  в аренду на длительный срок.
                </div>
              </div>
            </article>
          </li>
          <li class="objects-map__item mix two">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <div class="object-card__top">
                  <h3 class="object-card__title">
                    <a href="#">Петергофское шоссе 59, квартира 3 </a>
                  </h3>
                  <p class="object-card__type">1 - комнатные апартаменты</p>
                </div>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>

                <div class="object-card__text">
                  1-комнатные апартаменты класса люкс, площадью 38 кв. м сдаются
                  в аренду на длительный срок.
                </div>
              </div>
            </article>
          </li>
          <li class="objects-map__item mix one">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <div class="object-card__top">
                  <h3 class="object-card__title">
                    <a href="#">Петергофское шоссе 59, квартира 3 </a>
                  </h3>
                  <p class="object-card__type">1 - комнатные апартаменты</p>
                </div>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>

                <div class="object-card__text">
                  1-комнатные апартаменты класса люкс, площадью 38 кв. м сдаются
                  в аренду на длительный срок.
                </div>
              </div>
            </article>
          </li>
          <li class="objects-map__item mix three">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <div class="object-card__top">
                  <h3 class="object-card__title">
                    <a href="#">Петергофское шоссе 59, квартира 3 </a>
                  </h3>
                  <p class="object-card__type">1 - комнатные апартаменты</p>
                </div>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>

                <div class="object-card__text">
                  1-комнатные апартаменты класса люкс, площадью 38 кв. м сдаются
                  в аренду на длительный срок.
                </div>
              </div>
            </article>
          </li>
          <li class="objects-map__item mix two">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <div class="object-card__top">
                  <h3 class="object-card__title">
                    <a href="#">Петергофское шоссе 59, квартира 3 </a>
                  </h3>
                  <p class="object-card__type">1 - комнатные апартаменты</p>
                </div>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>

                <div class="object-card__text">
                  1-комнатные апартаменты класса люкс, площадью 38 кв. м сдаются
                  в аренду на длительный срок.
                </div>
              </div>
            </article>
          </li>
          <li class="objects-map__item mix three">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <div class="object-card__top">
                  <h3 class="object-card__title">
                    <a href="#">Петергофское шоссе 59, квартира 3 </a>
                  </h3>
                  <p class="object-card__type">1 - комнатные апартаменты</p>
                </div>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>

                <div class="object-card__text">
                  1-комнатные апартаменты класса люкс, площадью 38 кв. м сдаются
                  в аренду на длительный срок.
                </div>
              </div>
            </article>
          </li>
          <li class="objects-map__item mix studios">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <div class="object-card__top">
                  <h3 class="object-card__title">
                    <a href="#">Петергофское шоссе 59, квартира 3 </a>
                  </h3>
                  <p class="object-card__type">1 - комнатные апартаменты</p>
                </div>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>

                <div class="object-card__text">
                  1-комнатные апартаменты класса люкс, площадью 38 кв. м сдаются
                  в аренду на длительный срок.
                </div>
              </div>
            </article>
          </li>
          <li class="objects-map__item mix mini">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <div class="object-card__top">
                  <h3 class="object-card__title">
                    <a href="#">Петергофское шоссе 59, квартира 3 </a>
                  </h3>
                  <p class="object-card__type">1 - комнатные апартаменты</p>
                </div>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>

                <div class="object-card__text">
                  1-комнатные апартаменты класса люкс, площадью 38 кв. м сдаются
                  в аренду на длительный срок.
                </div>
              </div>
            </article>
          </li>
          <li class="objects-map__item mix studios">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <div class="object-card__top">
                  <h3 class="object-card__title">
                    <a href="#">Петергофское шоссе 59, квартира 3 </a>
                  </h3>
                  <p class="object-card__type">1 - комнатные апартаменты</p>
                </div>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>

                <div class="object-card__text">
                  1-комнатные апартаменты класса люкс, площадью 38 кв. м сдаются
                  в аренду на длительный срок.
                </div>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
