<section class="product">
  <div class="container">
    <div class="product__top">
      <div class="product__left">
        <h2 class="product__title section-title">1-комн. апартаменты, 38 м²</h2>
        <p class="product__text">
          Санкт-Петербург, р-н Фрунзенский, Волковское, ул. Салова, 61
        </p>
      </div>
      <div class="product__right">
        <button class="product__btn btn btn-call" type="button">
          Забронировать
        </button>

        <div class="product__price-box">
          <p class="product__price">
            <span> 55 000 <span>Р</span><small>/месяц</small></span>
          </p>
          <span class="product__notify">Комм. платежи не включены</span>
        </div>
        <div class="product__price-box">
          <p class="product__price">
            <span>
              2 500
              <span>Р</span><small>/сутки</small>
            </span>
          </p>
          <span class="product__notify">Комм. платежи не включены</span>
        </div>
      </div>
    </div>

    <div class="product__content">
      <div class="product__slider">
        <div class="slider-thumbs">
          <div class="slider-thumbs__nav swiper" id="slider-nav">
            <ul class="swiper-wrapper">
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/1.jpg" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/2.jpg" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/3.jpg" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/4.jpg" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/5.jpg" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/6.jpg" alt="Слайд №1" />
              </li>
              <li class="swiper-slide slider-nav__slide">
                <img src="images/content/product/6.jpg" alt="Слайд №1" />
              </li>
            </ul>
          </div>

          <div class="slider-thumbs__main swiper" id="slider-main">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <img src="images/content/product/1-big.jpg" alt="Слайд №1" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/1-big.jpg" alt="Слайд №2" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/1-big.jpg" alt="Слайд №3" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/1-big.jpg" alt="Слайд №4" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/1-big.jpg" alt="Слайд №4" />
              </li>
              <li class="swiper-slide">
                <img src="images/content/product/1-big.jpg" alt="Слайд №4" />
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="product__info">
        <div class="product__info-box info-box">
          <h3 class="info-box__heading">Общая информация</h3>
          <ul class="info-box__list">
            <li class="info-box__item info-box__item--baby">Можно с детьми</li>
            <li class="info-box__item info-box__item--pet">
              Можно с животными
            </li>
          </ul>
        </div>
        <div class="product__info-box info-box">
          <h3 class="info-box__heading">Опись имущества</h3>
          <ul class="info-box__list">
            <li class="info-box__item info-box__item--fridge">Холодильник</li>
            <li class="info-box__item info-box__item--dishwasher">
              Посудомоечная машина
            </li>
            <li class="info-box__item info-box__item--washing-machine">
              Стиральная машина
            </li>
            <li class="info-box__item info-box__item--wardrobe">
              Мебель в комнатах
            </li>
            <li class="info-box__item info-box__item--kitchen">
              Мебель на кухне
            </li>
            <li class="info-box__item info-box__item--ac">Кондиционер</li>
            <li class="info-box__item info-box__item--tv">Телевизоре</li>
            <li class="info-box__item info-box__item--wifi">Интернет</li>
            <li class="info-box__item info-box__item--shower">
              Душевая кабина
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="product__sites sites">
      <h3 class="sites__title">Объявление объекта на:</h3>
      <ul class="sites__list">
        <li class="sites__item">
          <a class="sites__link" href="#">
            <img src="images/content/sites/1.png" alt="Авито" />
          </a>
        </li>
        <li class="sites__item">
          <a class="sites__link" href="#">
            <img src="images/content/sites/2.png" alt="Циан" />
          </a>
        </li>
        <li class="sites__item">
          <a class="sites__link" href="#">
            <img src="images/content/sites/3.png" alt="Юла" />
          </a>
        </li>
        <li class="sites__item">
          <a class="sites__link" href="#">
            <img src="images/content/sites/4.png" alt="Недвижимость" />
          </a>
        </li>
        <li class="sites__item">
          <a class="sites__link" href="#">
            <img src="images/content/sites/5.png" alt="ДомКлик" />
          </a>
        </li>
        <li class="sites__item">
          <a class="sites__link" href="#">
            <img src="images/content/sites/6.png" alt="Домофонд" />
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="product__map map">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A2c046ac1186dca15a7fe40b62f2cae7f41537ab551646d320da5de14b92bd114&amp;source=constructor"
      width="1920"
      height="350"
      frameborder="0"
    ></iframe>
  </div>
  <div class="container">
    <div class="product__text">
      <p>
        1-комнатные апартаменты класса люкс площадью 38 кв. м сдаются в аренду
        на длительный срок.
      </p>

      <p>
        Отделка номера выполнена из экологически чистых материалов высокого
        класса. Апартаменты соответствуют европейским гостиничным стандартам.
        Дизайн в стиле минимализма и эффективной функциональности. окна и
        планировка схемы освещения делают номер светлым и визуально расширяют
        пространство. Полный набор мебели для жизни (в т. ч. вместительный
        гардероб). В номере есть вся бытовая техника.
      </p>

      <p>
        Отдельная от жилой комнаты полностью оборудованная кухня (включая
        посудомоечную машину). На кухне есть вся необходимая посуда для
        приготовления еды. В комнате большая двуспальная кровать с
        ортопедическим матрасом и удобное рабочее место. Шторы из не горючего
        материала полностью затемняют комнату и служат дополнительной
        звукоизоляцией.
      </p>
    </div>
  </div>
</section>
