<section class="similar-objects">
  <div class="container">
    <div class="similar-objects__top">
      <h2 class="similar-objects__title">Похожие объекты</h2>

      <div class="similar-objects__actions">
        <a class="similar-objects__btn btn btn--transparent" href="#">
          Перейти в каталог
        </a>
        <div class="similar-objects__arrows arrows">
          <button
            class="similar-objects__arrow similar-objects__arrow--prev"
            type="button"
            aria-label="Предыдущий"
          >
            <svg width="15" height="9">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </button>
          <button
            class="similar-objects__arrow similar-objects__arrow--next"
            type="button"
            aria-label="Слудующий"
          >
            <svg width="15" height="9">
              <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="similar-objects__content">
      <div class="similar-objects__slider swiper">
        <ul class="similar-objects__list swiper-wrapper">
          <li class="similar-objects__item swiper-slide">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <h3 class="object-card__title">
                  Петергофское шоссе 59, квартира 3
                </h3>
                <p class="object-card__type">1 - комнатные апартаменты</p>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>
              </div>
            </article>
          </li>
          <li class="similar-objects__item swiper-slide">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/2.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <h3 class="object-card__title">
                  Петергофское шоссе 59, квартира 3
                </h3>
                <p class="object-card__type">1 - комнатные апартаменты</p>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>
              </div>
            </article>
          </li>
          <li class="similar-objects__item swiper-slide">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/3.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <h3 class="object-card__title">
                  Петергофское шоссе 59, квартира 3
                </h3>
                <p class="object-card__type">1 - комнатные апартаменты</p>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>
              </div>
            </article>
          </li>
          <li class="similar-objects__item swiper-slide">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/1.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <h3 class="object-card__title">
                  Петергофское шоссе 59, квартира 3
                </h3>
                <p class="object-card__type">1 - комнатные апартаменты</p>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>
              </div>
            </article>
          </li>
          <li class="similar-objects__item swiper-slide">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/2.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <h3 class="object-card__title">
                  Петергофское шоссе 59, квартира 3
                </h3>
                <p class="object-card__type">1 - комнатные апартаменты</p>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>
              </div>
            </article>
          </li>
          <li class="similar-objects__item swiper-slide">
            <article class="object-card">
              <div class="object-card__img">
                <img src="images/content/objects/3.jpg" alt="Наш объект" />
              </div>
              <div class="object-card__info">
                <h3 class="object-card__title">
                  Петергофское шоссе 59, квартира 3
                </h3>
                <p class="object-card__type">1 - комнатные апартаменты</p>
                <div class="object-card__price">
                  от 2 000 Р<small>/сутки</small>
                </div>
              </div>
            </article>
          </li>
        </ul>

        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
