<section class="worth worth--row" id="worth">
  <div class="container">
    <div class="worth__wrapper">
      <h2 class="worth__title section-title">
        <span>Сколько</span> это стоит?
      </h2>

      <div class="worth__text">
        <p>
          <span>Стоимость управления составляет 20% от чистой прибыли.</span>
          То есть от остатка денежных средств после вычета затрат на рекламу,
          уборку и расходных материалов.
        </p>
      </div>
    </div>
  </div>
</section>
