<section class="work" id="work">
  <div class="container">
    <div class="work__top">
      <h2 class="work__title section-title">
        <span>Что</span> мы делаем
      </h2>
      <div class="work__text">
        <p>Решим любые проблемы, с которыми вы столкнётесь</p>
      </div>
    </div>
    <ul class="work__list">
      <li class="work__item work__item--promote">
        <p>Продвинем объявления на площадках</p>
      </li>
      <li class="work__item work__item--move">
        <p>Заселим в любое время, даже без вашего присутствия</p>
      </li>
      <li class="work__item work__item--make">
        <p>Сами сделаем красивые фотографии квартиры</p>
      </li>
      <li class="work__item work__item--organize">
        <p>Организуем уборку, прачку и ремонт</p>
      </li>
      <li class="work__item work__item--control-payment">
        <p>Проконтролируем оплату</p>
      </li>
      <li class="work__item work__item--control-property">
        <p>Проконтролируем сохранность имущества</p>
      </li>
      <li class="work__item work__item--help">
        <p>Поможем решить спорные моменты</p>
      </li>
    </ul>
  </div>
</section>
